<!doctype html>
<html lang="eng">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{CSS_BUNDLE}}">
    </head>
    <body>
        <div class="header">header (from layout template)</div>
        {% block content %} {% endblock %}
        <script src="{{JS_BUNDLE}}"></script>
    </body>
</html>

